/**
* ListView component
*/

.list-header {
    padding: 20px 5px;
    position: relative;

    .list-tools {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.list-tools {
    .rounded(5px);
    background-color: #f6f6f6;
    padding: 5px 8px;
    >div {
        display: inline-block;
    }

    i {
        padding: 3px 5px;
        .rounded(3px);
        display: inline-block;
        &:hover {
            background-color: #ddd;
            cursor: pointer;
        }
    }
}

/**
 * Tools pages
 */
.list-tools-pages {

    i {
        .opacity(0.5);
        font-size: 24px;
        margin: 0 4px;
        color: #888;
    }
    i, span {
        vertical-align: middle;
    }

/**
* States
*/
    .hasContents(){
        .opacity(1);
        &:hover {
            color: #000;
            cursor: pointer;
        }
    }

    &.has-prev {
        .action-prev {
            .hasContents();
        }
    }

    &.has-next {
        .action-next {
            .hasContents();
        }
    }
}

/**
 * Filters
 */
.list-tools-filters {
    position: relative;
    color: #666;
    &.open {
        color: #000;
        .rounded(3px);
        background-color: #ccc;
        .list-tools-filters-box {
            display: block;
        }
    }
}

.list-tools-filters-box {
    display: none;
    right: 0;
    top: 100%;
    z-index: 100;
    position: absolute;
    padding: 10px;
    border: 1px solid #777;
    background-color: #fff;
    .drop-shadow();
    .rounded(6px);
    width: 200px;

    h1 {
        font: bold 18px 'Arial';
    }
    div.row {
        margin: 10px 0;
        span {
            color: #666;
            display: block;
            border-bottom: 1px solid #eee;
            margin-bottom: 5px;
        }
        input[type=text] {
            display: block;
            width: 100%;
            border: 1px solid #ccc;
            padding: 5px;
            .box-sizing(border-box);
        }
        input[type=checkbox] {
            vertical-align: middle;
        }
    }

    .clear-filters {
        display: none;
        position: absolute;
        right: 4px;
        top: 4px;
    }
    &.has-filters {
        .clear-filters {
            display: block;
        }
    }
}

table.list-view {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: #def;
        padding: 10px;
        color: #456;
        border: 3px solid #cde;

        .transition(0.1s);

        i {
            position: absolute;
            margin-left: 5px;
            margin-top: 2px;
            display: none;
        }

        &.sort-up, &.sort-down {
            background-color: #fff;
        }

        &:hover {
            cursor: pointer;
            background-color: #e5f6ff;
        }

    /**
    * Sorting
    */
        &.sort-up {
            .icon-chevron-up {
                display: inline-block;
            }
        }
        &.sort-down {
            .icon-chevron-down {
                display: inline-block;
            }
        }
    }

    td {
        padding: 10px;
        color: #333;
        overflow: hidden;
    }

    tr.odd td {
        background-color: #f9fbff;
    }

}

/**
 * Email-specific classes
 */
td.email-date {
    width: 120px;
    text-align: center;
}

td.email-email {
    width: 120px;
}

td.email-subject {
    width: 420px;
}

/**
 * Filter clearing
 */
.clear-filters {
    color: #058;
    padding: 5px;
    .rounded(3px);
    &:hover {
        cursor: pointer;
        background-color: #eee;
    }
}